<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/Stilos.css">
    <link rel="stylesheet" href="static/CSS/login.css">
    <link rel="shortcut icon" href="../../static/IMG/DAZZART SIN LETRAS_prev_ui.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart" />
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <title>Pagina Principal - Dazzart Components</title>
</head>

<body>


    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-3 ">
                    <img src="static/IMG/Captura de pantalla 2024-11-25 183458.png" alt="Logo" class="img-fluid">
                </div>
    
                <!-- Menú de categorías -->
                <div class="col-1 text-center me-5">
                    <button class="btn btn-outline-primary" onclick="abrirMenu()">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
    
                <!-- Barra de búsqueda -->
                <div class="col-3 text-start ms-5">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar">
                        <button class="btn ms-2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                
    
                <!-- Botones (Login y Carrito) -->
                <div class="col-3 d-flex justify-content-end p-3 ml-6 mt-1">
                    <!-- Icono de login -->
                    <button id="login-btn" class="btn btn-outline-info">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <!-- Icono de carrito -->
                    <a href="compras.html" class="btn btn-outline-warning ">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    

    
    

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mx-3 w-75 mx-auto">
            <div class="carousel-item active">
            <img src="static/IMG/hola.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/IMG/2023-3-banner-scaled (1).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/IMG/banners-web-GT-1 (1).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



    
    
    <section class="productos mt-3">
        <h2>Componentes</h2>
        <div class="productos-caja row ms-1 mx-auto">
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/Torre-Gamer-Trabajo-Edicion-Changua-4-600x600.jpg" alt="Torre Gamer Edición Changua">
                    <p>Torre Gamer Edición Changua</p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/Torre-Gamer-Trabajo-Edicion-Changua-4-600x600.jpg', 'Torre Gamer Edición Changua', '$ 1.600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/1-2.png" alt="Volante Logitech G923">
                    <p>Volante de carreras y pedales Logitech G923 para PlayStation 5 y PlayStation 4</p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/1-2.png', 'Volante Logitech G923', '$ 1.600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/1.png" alt="Audífonos inalámbricos Logitech G Astro A50 X">
                    <p>Audífonos inalámbricos Logitech G Astro A50 X </p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/1.png', 'Audífonos inalámbricos Logitech G Astro A50 X', '$ 1.460.990')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal mt-5" src="static/IMG/61r4Y8ySAUL._AC_SL1500_.jpg" alt="Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial">
                    <p class="mt-5">Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial</p>
                    <div class="precio ">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/61r4Y8ySAUL._AC_SL1500_.jpg', 'Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial', '$600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        
    </section>

    <section class="productos mt-3">
        <h2>Perifericos</h2>
        <div class="productos-caja row ms-1 mx-auto">
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/Torre-Gamer-Trabajo-Edicion-Changua-4-600x600.jpg" alt="Torre Gamer Edición Changua">
                    <p>Torre Gamer Edición Changua</p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/Torre-Gamer-Trabajo-Edicion-Changua-4-600x600.jpg', 'Torre Gamer Edición Changua', '$ 1.600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/1-2.png" alt="Volante Logitech G923">
                    <p>Volante de carreras y pedales Logitech G923 para PlayStation 5 y PlayStation 4</p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/1-2.png', 'Volante Logitech G923', '$ 1.600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal" src="static/IMG/1.png" alt="Audífonos inalámbricos Logitech G Astro A50 X">
                    <p>Audífonos inalámbricos Logitech G Astro A50 X </p>
                    <div class="precio">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/1.png', 'Audífonos inalámbricos Logitech G Astro A50 X', '$ 1.460.990')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    
            <div class="producto col-md-3 col-12 mb-4 d-flex flex-column justify-content-between ms-5">
                <a href="indexpro.html">
                    <img class="imagen-principal mt-5" src="static/IMG/61r4Y8ySAUL._AC_SL1500_.jpg" alt="Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial">
                    <p class="mt-5">Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial</p>
                    <div class="precio ">
                        <p>$ 1.600.000</p>
                    </div>
                </a>
                <div class="carrito" onclick="abrirCarrito()">
                    <a href="compras.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
                <div class="lupa" onclick="abrirLupa('static/IMG/61r4Y8ySAUL._AC_SL1500_.jpg', 'Fnatic Lamzu Thorn Wireless Pro Gaming Mouse 4K Edición Especial', '$600.000')">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </section>



    
<!-- Modal para cada producto -->
    <div id="modalLupa1" class="modal1">
        <div class="modal-contenido">
            <span class="cerrar" onclick="cerrarLupa()">&times;</span>
            <div class="modal-imagen">
                <img id="imagen-modal" src="" alt="Imagen del producto">
            </div>
            <div class="modal-detalles">
                <div class="mini-menu">
                    <a href="#inicio">Inicio</a>
                    <a href="#categorias">Categorías</a>
                    <a href="#contacto">Torres</a>
                </div>
                <h2 id="titulo">Torre Gamer Edición Changua</h2>
                <div class="precio" id="precio-modal">$ 1.460.990</div>
                <div class="linea-separadora"></div>
                <div class="modalp">
                    <p>Cantidad</p>
                </div>
                <div class="cantidad">
                    <button onclick="actualizarCantidad('menos')">-</button>
                    <input type="number" id="cantidad" value="1" min="1">
                    <button onclick="actualizarCantidad('mas')">+</button>
                    <div class="botoncarrito">
                        <a href="compras.html">
                        <button class="agregar-carrito" onclick="agregarAlCarrito()">+ Añadir al Carrito</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <footer style="background-color: black; color: white;">
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2">Síguenos en:</p>
                    <a href="#" style="color: white; margin-right: 15px;"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="#" style="color: white; margin-right: 15px;"><i class="fa-brands fa-twitter fa-lg"></i></a>
                    <a href="https://www.instagram.com/dazzartcomponents/" style="color: white;"><i class="fa-brands fa-instagram fa-lg"></i></a>
                </div>
            </div>
            <hr class="my-3 border-light">
            <div class="row">
                <div class="col-12">
                    <p class="mb-0">&copy; 2024 Dazzart Components - Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>
    


<!-- Menú lateral -->
<div class="menu-lateral" id="menuLateral">
  <header>
    Categorías
    <button class="cerrar-menu" onclick="cerrarMenu()">X</button>
  </header>
  <ul>
    {% for cat in categorias %}
      <li>
        <a href="{{ url_for('productos_por_categoria', id_categoria=cat.id_categoria) }}">
          {{ cat.nombre_categoria }}
          <i class="fas fa-chevron-right"></i>
        </a>
      </li>
    {% endfor %}
  </ul>  
</div>

      




<!-- PARTE DE ZABALETA -->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('user_bp.login') }}" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="link-password">¿Olvidó su contraseña?</a>
                <a href="{{ url_for('user_bp.register') }}" class="register-link">Registrarse</a>
            </div>
        </div>
    </div>
</div>



<script src="https://kit.fontawesome.com/817cf9e37e.js" crossorigin="anonymous"></script>


<script src="static/JS/js.js"></script>
<script src="static/JS/modal.js"></script>
<script src="static/JS/FuncionModalIndex.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
</html>
