$background-color: #f8f9fa;
$container-bg: white;
$border-radius: 5px;
$btn-bg: #ff6600;
$btn-hover-bg: #cc5200;
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

// Mixins
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin btn-styles($bg, $hover-bg) {
  width: 30%;
  @include border-radius($border-radius);
  background-color: $bg;
  color: white;
  border: none;

  &:hover {
    background-color: $hover-bg;
  }
}

// Estilos
body {
  background-color: $background-color;
}

.container {
  max-width: 600px;
  background: $container-bg;
  padding: 20px;
  @include border-radius(10px);
  @include box-shadow($shadow);
}

.form-control {
  @include border-radius($border-radius);
}

.btn-custom {
  @include btn-styles($btn-bg, $btn-hover-bg);
}
