$blanco: #FFFCE8;
$rojo: #DD403A;
$negro: #3E363F;
$gris: #f0f0f0;
$gris-claro: #ccc;
$btn-hover: #3BA0FF;


@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin btn-styles($bg, $hover-bg) {
  width: 100%;
  padding: 12px;
  background-color: $bg;
  color: white;
  border: none;
  @include border-radius(5px);
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $hover-bg;
  }
}

// Estilos del modal
.modal-content {
  background-color: $blanco;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  @include border-radius(8px);
  @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  text-align: center;
  position: relative;

  h5 {
    color: $negro;
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid $gris-claro;
    @include border-radius(5px);
    background-color: $gris;
    color: black;
    font-size: 16px;
  }

  .btn {
    @include btn-styles(black, $btn-hover);
  }

  .options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .forgot-password, .register {
    text-decoration: none;
    color: $negro;
    margin-right: 10px;

    &:hover {
      color: $btn-hover;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: $negro;
    z-index: 20;
  }
}

